body {
  font-family: "Montserrat";
  color: #131313;
  padding-bottom: 98px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.primary-btn {
  display: inline-block;
  padding: 11px 26px;
  margin-top: 32px;
  margin-bottom: 150px;
  margin-right: 12px;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
}

.primary-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #F8D24E;
}

.secondary-bth {
  padding-left: 36px;
  padding-right: 36px;
  height: 42px;
  background: #F8D24E;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.header {
  position: relative;
  background-color: #84A178;
}

h1 {
  width: 247px;
  margin-top: 40px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.hero-info {
  display: none;
}

.hero-ice-info {
  display: none;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ice-img {
  right: 20px;
}

.hero-more-ice {
  display: none;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: 14px;
  }
  .ice-img {
    right: 92px;
  }
  .hero-more-ice {
    position: absolute;
    display: block;
    left: 32px;
    bottom: 12px;
  }
  .products-btn {
    margin-bottom: 176px;
  }
  .hero-ice-info {
    display: block;
    width: 139px;
    height: 85px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-top: 98px;
    padding-top: 20px;
  }
  h1 {
    width: 367px;
    font-size: 38px;
  }
  .products-btn {
    margin-top: 28px;
    margin-bottom: 332px;
  }
}
.navigation {
  position: fixed;
  top: 0;
  height: 98px;
  width: 100%;
  background-color: #84A178;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 999;
}

.nav-list {
  display: none;
}

.nav-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-btn {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 310px;
  }
  .nav-item .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
  }
  .nav-item:not(:last-child) {
    margin-right: 28px;
  }
  .nav-item .nav-link.active-page {
    color: #F8D24E;
  }
}/*# sourceMappingURL=main.css.map */