.primary-btn {
    display: inline-block;
    padding: 11px 26px;
    margin-top: 32px;
    margin-bottom: 150px;
    margin-right: 12px;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
}

.primary-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #F8D24E;
}

.secondary-bth {
    padding-left: 36px;
    padding-right: 36px;
    height: 42px;
    background: #F8D24E;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
}