.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84a178;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
}

.primary-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #f8d24e;
}

.secondary-bth {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 42px;
  background: #f8d24e;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.btn__icon {
  margin-left: 7px;
}

.btn__arrow {
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn__arrow-white {
    fill: #ffffff;
}

