.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  z-index: 1000;
    
    &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
}

.buy-now__modal {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 280px;
  padding: 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  
  
}


.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: #0A8817;
  }
}

.buy-now__title {
  margin-bottom: 83px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.products__item-modal {
  position: relative;
  width: 136px;
  margin-left: auto;
  margin-right: auto;
  padding: 96px 13px 20px 13px;

  &:not(:last-child) {
    margin-bottom: 82px;
  }

  &:last-child {
    margin-bottom: 31px;
  }

  &.ice-cream__modal {
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;
  
    &::before {
      content: "";
      background-image: url(../images/ice-cream-mobile.png);
      background-repeat: no-repeat;
      background-position-x: center;
      position: absolute;
      top: -61px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 132px;
      height: 139px;
    }
  }

  &.ice-coffee__modal {
    background: #efd478;
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15px;

    &::before {
        content: "";
        background-image: url(../images/ice-coffee-mobile.png);
        background-repeat: no-repeat;
        background-position-x: center;
        position: absolute;
        top: -61px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 132px;
        height: 139px;
      }

  }

  &.milkshake__modal {
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;

    &::before {
        content: "";
        background-image: url(../images/milkshake-mobile.png);
        background-repeat: no-repeat;
        background-position-x: center;
        position: absolute;
        top: -61px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 132px;
        height: 139px;
      }    
  }
}


.products__title-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.buy-now__input {
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;  
}

.buy-now__message {
  width: 100%;
  height: 65px;
  resize: none;
  padding: 8px 12px;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}

.buy-now__submit-btn {
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
