.header {
    position: relative;
    background-color: #84A178;
}

h1 {
    width: 247px;
    margin-top:40px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
}


.hero-info {
    display: none;
}

.hero-ice-info {
    display: none;
}


.hero-img {
    position: absolute; 
    bottom: 0;
    right: 0;
}

.ice-img {
    right: 20px;
}

.hero-more-ice {
    display: none;
}

@media screen and (min-width: 768px) {

    h1 {
        margin-top: 14px;
    }

    .ice-img {
        right: 92px;
    }

    .hero-more-ice {
        position: absolute;
        display: block;
        left: 32px;
        bottom: 12px;
    }

    .products-btn {
        margin-bottom: 176px;
    }

    .hero-ice-info {
        display: block;
        width: 139px;
        height: 85px;
        overflow: hidden;
    }
    
}

@media screen and (min-width: 1200px) {

    .hero {
        margin-top: 98px;
        padding-top: 20px;
    }
    
    h1 {
        width: 367px;
        font-size: 38px;
    }

    .products-btn {
        margin-top: 28px;
        margin-bottom: 332px;
    }

}
