.products {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  background-image: url('../../images/Frame1-mobile.png'), url('../../images/Frame2-mobile.png');
  background-position: 0px 0px, 0px 994px;
  background-repeat: no-repeat, no-repeat;
  //background-size: auto;
}

.products__container {
  padding-top: 61px;
  padding-bottom: 60px;
}

.products__label {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}

.products__title {
  margin-bottom: 148px;
  text-align: center;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-list__item {
  position: relative;
  height: 420px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px; 
  padding-bottom: 9px;

  &:not(:last-child) {
    margin-bottom: 168px;
  }
}


.products-list__ice-cream {
  background: #aec6a5;
  border-radius: 24px;
}

.products-list__ice-cream::before {
  content: '';
  background-image: url('../../images/ice-cream.png');
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  top: -108px;
  width: 200px;
  height: 212px;  
}

.products-list__ice-coffee {
  background: #efd478;
  border-radius: 24px;
}

.products-list__ice-coffee::before {
  content: '';
  background-image: url('../../images/ice-coffee.png');
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  top: -108px;
  width: 200px;
  height: 212px; 
}

.products-list__milkshakes {
  background: #d6936d;
  border-radius: 24px;
}

.products-list__milkshakes::before {
  content: '';
  background-image: url('../../images/milkshakes.png');
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  top: -108px;
  width: 200px;
  height: 212px; 
}

.products-list__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
}

.products-description__open-btn {
  margin-top: auto;
}

@media screen and (min-width: 480px) {

  .products {
    width: 480px;
    background-image: url('../../images/Frame1-480.png'), url('../../images/Frame2-480.png');
  }
  
  .products__container {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
  } 
  
  .products-list__item {
    height: 428px;
    width: 320px;
    padding-left: 60px;
    padding-right: 60px; 
  }  
  
}


@media screen and (min-width: 768px) {

  .products {
    width: 768px;
    background-image: url('../../images/products_back-tablet.png');
    background-position: top;
  }

  .products__container {
    padding: 60px 32px 0 32px;
  } 

  .products-list {
    display: flex;
    flex-wrap: wrap;
  }

  .products-list__item {
    width: 224px;
    padding-left: 26px;
    padding-right: 26px; 
    margin-bottom: 60px;

    &:not(:last-child) {
      margin-right: 16px;
      margin-bottom: 60px;
    }
  } 
  
  .products__label {
    font-size: 22px;
    line-height: 1.23;
  }

  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: 1.26;
  }  

}

@media screen and (min-width: 1200px) {

  .products {
    width: 1200px;
    background-image: url('../../images/products-back-desktop.png');
    background-position: top;
  }

  .products__container {
    padding: 60px 16px;
  } 

  .products__label {
    font-size: 30px;
  }

  .products__title {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: 1.25;
  }  
  
  .products-list__item {
    width: 370px;
    height: 536px;
    padding: 165px 64px 52px 64px;

    &:not(:last-child) {
      margin-right: 29px;
    }
  } 

  .products-list__ice-cream::before {
    background-image: url('../../images/ice-cream-desktop.png');
    top: -183px;
    width: 302px;
    height: 318px;  
  }
  
  .products-list__ice-coffee::before {
    background-image: url('../../images/ice-coffee-desktop.png');
    top: -183px;
    width: 302px;
    height: 318px; 
  }
   
  .products-list__milkshakes::before {
    background-image: url('../../images/milkshakes-desktop.png');
    top: -183px;
    width: 302px;
    height: 318px; 
  }

  .products-list__title {
    margin-bottom: 66px;
    font-size: 30px;
    line-height: 1.23;
  }
  
  .products-list__description {
    font-size: 16px;
  }
  
}